
body{
  display:flex;
  justify-content: center;
  min-height:100vh;
  background-color: black;
  align-items:center;
  margin:0;
  padding:0;

}
.heart{
  height: 70px;
  width:70px;
  background-color: red;
  position:relative;
  transform: rotate(-45deg);
  box-shadow:10px 10px 100px red;
  animation: beat 0.6s linear infinite;
}
@keyframes beat {
  0%{
      transform: rotate(-45deg) scale(1.07);
  }
   80%{
      transform: rotate(-45deg) scale(1.0);
  }
   100%{
      transform: rotate(-45deg) scale(0.8);
  }
}
.heart::before{
  content:'';
  position: absolute;  
  height: 70px;
  width:70px;
  background-color: red;
  top: -50%;
  border-radius: 50px;;
    box-shadow:10px 10px 100px red;


}
.heart::after{
  content:'';
  position: absolute;  
  height: 70px;
  width:70px;
  background-color: red;
  right: -50%;
  border-radius: 50px;
    box-shadow:10px 10px 100px red;
}



.hearts{
  height: 10px;
  width:10px;
  background-color: red;
  position:relative;
  transform: rotate(-45deg);
  box-shadow:10px 10px 100px red;
  animation: beat 0.6s linear infinite;
}
@keyframes beat {
  0%{
      transform: rotate(-45deg) scale(1.07);
  }
   80%{
      transform: rotate(-45deg) scale(1.0);
  }
   100%{
      transform: rotate(-45deg) scale(0.8);
  }
}
.hearts::before{
  content:'';
  position: absolute;  
  height: 10px;
  width:10px;
  background-color: red;
  top: -50%;
  border-radius: 50px;;
    box-shadow:10px 10px 100px red;


}
.hearts::after{
  content:'';
  position: absolute;  
  height: 10px;
  width:10px;
  background-color: red;
  right: -50%;
  border-radius: 50px;
    box-shadow:10px 10px 100px red;
}