body{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.temp{
    border: 2px solid black;
  display:inline-block;
  margin: 20px;
  padding: 20px 40px 40px 40px;
  background-color: rgb(205, 189, 240);
  border-radius: 20px;;
}
#number{
  margin:15px;
  padding:10px;
    border-radius: 20px;

}
#btn{
  margin:20px;
  padding:10px;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3 ease;
}
#btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#ans{
  font-size:1.5em;
}